@font-face {
    font-family: inter;
    src: url(static/Inter-Regular.ttf);
}

.div {
    background-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    width: 378px;
    height: 274px;
    margin-left: 555px;
    margin-top: 142px;
}

.paragraph {
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    padding-left: 30px;
    padding-top: 30px;
    margin: 0;
}

.password {
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    padding-left: 30px;
    margin: 0;
    padding-top: 14px;
}

.input_email {
    margin-top: 6px;
    margin-left: 30px;
    border: 1px solid #E0E0E0;
    width: 315px;
    height: 45px;
    border-radius: 10px;
}

.input_email::placeholder {
    color: #E0E0E0;
    padding-left: 11px;
}

.input_password {
    margin-top: 6px;
    margin-left: 30px;
    border: 1px solid #E0E0E0;
    width: 315px;
    height: 45px;
    border-radius: 10px;
}

.input_password::placeholder {
    color: #9E9E9E;
    padding-left: 11px;
    padding-top: 15px;
    font-size: 16px;
}

.button {
    width: 315px;
    height: 45px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 18px;
    background-color: #FFD43A;
    border: none;
    font-family: inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
}

.paragraph:hover {
    font-family: inter;
    font-size: 16px;
    font-weight: 500;
    color: #616161;
    padding-left: 30px;
    padding-top: 30px;
    margin: 0;
}

.input_email:hover {
    margin-top: 6px;
    margin-left: 30px;
    border: 1px solid #BBB400;
    width: 315px;
    height: 45px;
    border-radius: 10px;
}

.input_password:hover {
    margin-top: 6px;
    margin-left: 30px;
    border: 1px solid #BBB400;
    width: 315px;
    height: 45px;
    border-radius: 10px;
}

.button:hover {
    width: 315px;
    height: 45px;
    border-radius: 22.5px;
    margin-top: 18px;
    margin-left: 30px;
    background-color: #BBB400;
    border: none;
    font-family: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    color: #7C0000;
}